header {
    display: flex;
    width: 100%;
    min-height: 160px;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    font-family: 'Julius Sans One';
    font-size: 3.1rem;
    margin-top: 35px;
    div {
      border:2px solid grey;
    }
}

#number {
  display: block;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 3;
  padding-right: 10px;
  min-height: 30px;
  line-height: 30px;
  opacity: 0.6;
  background: black;
  color: white;
  p {
    float: right;
  }
}

@media screen and (max-width: 1000px){
  header {
    justify-content: center;
  }
}
